.env
.env.*

# Google API key json
idyllic-creek-466612-n2-98cbe5107f8b.json

# Google OAuth client
client_secret_537438013107-v7j9gj6ophbb49hhu4qpeq4iqrksqgkv.apps.googleusercontent.com.json
reflashToken.json
node_modules
.next


gcloud auth application-default login --client-id-file=client_secret_537438013107-v7j9gj6ophbb49hhu4qpeq4iqrksqgkv.apps.googleusercontent.com.json --scopes=https://www.googleapis.com/auth/gmail.readonly
